* { /*aplica pára todos os elementos*/ 
    margin: 0; /*todos elementos nao vao ter mais a margens do navegador*/
    padding: 0;/*todos elementos nao vao ter mais a padding do navegador*/
    box-sizing: border-box;
    
}

:root { /* criuando variaveis para alteração do corpo total*/
    --text-color: rgb(0, 0, 0);
    --bg-url: url(./assets/bg-mobile.jpg);
    --stroke-color:  rgba(255, 255,255,0.5);
    --surface-color: rgba(255, 255,255,0.05);
    --surface-color-hover: rgba(0,0,0,0.02);
    --highlight-color:  rgba(255,255,255,0.05);
    --switch-bg-url: url(./assets/moon-stars.svg);
}
body * { 
    font-family: 'Inter', sans-serif;
    color: var(--text-color)
    font-size
   
}

body {
 /*
    background-image: url(./assets/bg-mobile.jpg); ;/*pega a imagem da pasta
    background-repeat: no-repeat ; /*para nao repetir a imagem
    background-position: top center; /*posição da minha imagem
    background-size: cover; /*preenche toda minha tela
*/
    /* agrupar todo backgound em um so comando - chamado atalho*/
    background: var(--bg-url) no-repeat top center/cover;
  
}

body * { 
    font-family: 'Inter', sans-serif;
    color: var(--text-color)
   
}
#container { /* para identificar ID usa #*/
    width: 360px;
    
   /* border: 1px solid red;*/
    margin: 56px auto 0px; /*sendo aplicado em cima, direita e esquerda, e em baixo*/

    /*display: block; /*block -> da toda a largura possivel de tela*/
      /* height: 720px; -> alinha altura automatico para ser fluido*/
   
    
}

/* profile */

#profile {
    text-align: center;
    padding: 24px;
  
}

#profile img{
    
   width: 112px;
   border-radius: 58px; 

    /*height: 112px; /*altura nao vamos precisar, pois precisa ser fluido*/
    /*display: block; /*none = some display regtra de visuzalição*/ 
}
#profile p {
    
    font-weight: 500;
    line-height: 24px; /*altura de linha*/
    margin-top: 8px;
    
 
   
}

/* switch*/ 
#switch {
   /* border: 1px solid red;*/
    width: 64px;
    
    position: relative; /*fica dentro do switch*/
    margin: 4px auto;


}

#switch button {
    width: 32px;
    height: 32px;
    background: white var(--switch-bg-url) no-repeat center;
    border: 0;
    border-radius: 50%;
    
    position: absolute; /*faz uma sobreposição de camadas*/
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);
}

.light #switch button {
    right: 0;
    left: initial;
}

#switch span {
    display: block;
    width: 64px;
    height: 24px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    backdrop-filter: blur (4px);
    -webkit-backdrop-filter: blur(4px); /*webkit para funcionar em outros naverdadores por conta das versõesd*/
    border-radius: 9999px;
}


/*links da lista*/ 
ul {
    list-style:  none; /*tira as bolinhas*/
    display: flex;
   flex-direction: column;
   gap: 8px;
   padding: 24px 0px;
    }
ul li a {
    
    display: flex;  
    justify-content: center;     /* mesma coisa -> text-align: center;*/
    align-items: center;

    padding: 16px 24px;

    background:  var(--surface-color);
    border: 1px solid var(--stroke-color);
    border-radius: 8px; /*arredonda as bordas*/

    backdrop-filter: blur (4px);
    -webkit-backdrop-filter: blur (4px);

    text-decoration: none; /*tira a linha de baixo do texsto do botão*/
    font-weight: 500;

    transition: background 0.2s;
}

/*pseudo selecto - quando eu passo o mouse em cima */
ul li a:hover {

    background:  var(--surface-color-hover);
    border: 1.5px solid var(--text-color);

}

#social-links {
    /*border: 1px solid red;*/

    display: flex; /**/ 
    gap: 32px;
    padding: 24px 0px;
    font-size: 24px;
    justify-content: center;
}
#social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;

    transition: background 0.2s;
    border-radius: 50%;
}
#social-links a:hover {
    background: var(--highlight-color);
    

}


footer { /*rodapé*/
    padding: 24px;
    text-align: center;
    font-size: 14px;

}

